:root {
  --cor-fundo-app: #F8F4ED;

  --cor-azul-900: #0F3131;
  --cor-azul-800: #123F4A;
  --cor-azul-700: #16566B;
  --cor-azul-600: #1E6F8C;
  --cor-azul-500: #2A8DB8;
  --cor-azul-400: #54A9D3;
  --cor-azul-300: #8BC7E6;
  --cor-azul-200: #BFE1F1;
  --cor-azul-100: #E3F3FA;

  --cor-ok: #1F7A4D;
  --cor-atencao: #D9851F;
  --cor-critico: #3A2A1A;
    /* Tipografia */
  --fonte-principal: "Rawline", Arial, sans-serif;

  /* Medidas globais */
  --largura-pagina: 1500px;
  --largura-pagina-menor: 1200px;
}

body {
  background: var(--cor-fundo-app);
  color: var(--cor-azul-900);

}

.topo {
  background: linear-gradient(
    90deg,
    var(--cor-azul-900),
    var(--cor-azul-700),
    var(--cor-azul-500),
    var(--cor-azul-300),
    var(--cor-azul-100)
  );
  color: white;
  padding: 18px 28px;
  border-bottom: 6px solid var(--cor-azul-400);
  height: 140px;
}

.topo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 600;
}

.topo h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.topo p {
  margin: 4px 0 0;
  font-size: 18px;
  opacity: 0.9;
}

.page-sazonal{
  width: 100%;
  max-width: var(--largura-pagina);
  margin-left: auto;
  margin-right: auto;
}

.card-operacional {
  background: white;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 4px 14px rgba(15, 49, 49, 0.12);
  border-left: 6px solid var(--cor-azul-600);
  max-height: 60px;
}

.titulo-card {
  font-size: 12px;
  color: var(--cor-azul-800);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.valor-card {
  font-size: 18px;
  font-weight: 700;
  color: var(--cor-azul-700);
}

.painel-filtros {
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(15, 49, 49, 0.12);
}


.mapa-box {
  background: white;
  border-radius: 16px;
  padding: 16px 32px;
  box-shadow: 0 4px 14px rgba(15, 49, 49, 0.12);
  overflow: hidden;
}

.mapa-box h3 {
  color: var(--cor-azul-800);
  margin-bottom: 16px;
  height: 200px;
}

.mapa-global,
.mapa-sa{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    margin-top:-100px;
}

.mapa-sa{
    margin-top:50px;
}
.mapa-global img{

    max-width:100%;
    max-height:800px;
    width:auto;
    height:500px;

    object-fit:flex;

    display:block;
}

.mapa-sa img{

    max-width:100%;
    max-height:350px;
    width:auto;
    height:750px;

    object-fit:contain;

    display:block;
}